= form_for @comment, :html => {:class => "form-horizontal"} do |f|
  = f.hidden_field :post_id, :value => @post.id
  .control-group
    .control-label
      = f.label "Author"
    .controls
      = f.text_field :author
  .controls
    = f.text_area :message, :rows => 3
  .controls
    = f.submit "Comment"