= stylesheet_link_tag "prettyPhoto"
= javascript_include_tag "jquery.prettyPhoto"

:javascript
  $(document).ready(function(){
      $("a[rel^='prettyPhoto']").prettyPhoto({social_tools: false, theme: 'light_square'});
      
  });

%p= @post.title
%p= @post.author
%p= @post.tag_list
%p= raw @post.content
- @post.images.each do |image_field|
  = link_to image_tag(image_field.image.url(:thumb)), image_field.image.url(:original), :rel => "prettyPhoto"
- if @editable
  = link_to "Edit", edit_post_path(@post)
  = link_to "Delete", post_path(@post), :method => :delete
= render :template => "/comments/new"
= render :template => "/comments/index"

