%html
  %head
    %title U-board
    = stylesheet_link_tag :application
    = javascript_include_tag :application
    = csrf_meta_tags
    
    
  %body
    %header
      %h1
        = link_to 'U-board', root_path
    .topPanel 
      .topPanelLside
        left
      .topPanelMid
        .topPanelLinks
          = link_to "New Post", new_post_path
          = link_to 'Main', root_path
          - if !admin_exists?
            = link_to "Sign up", new_admin_registration_path
          - elsif admin_signed_in?
            = link_to "Sign out", destroy_admin_session_path, :method => :delete
          - else
            = link_to "Sign in", new_admin_session_path
        .topPanelButtons
          buttons div
      .topPanelRside
        right
    .main
      - if flash[:notice]
        #notice.message= flash[:notice]
      - elsif flash[:warning]
        #warning.message= flash[:warning]

      = yield
    %footer
      by Herp&Derp.
      %br
        Contact us: 
        %adress uboarders@gmail.com
